PhotoWeather.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PhotoWeather.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
PhotoWeather.xcodeproj/project.xcworkspace/xcuserdata/julia.xcuserdatad/UserInterfaceState.xcuserstate
PhotoWeather.xcodeproj/xcuserdata/julia.xcuserdatad/xcschemes/xcschememanagement.plist
PhotoWeather.xcodeproj/xcshareddata/xcschemes/PhotoWeather.xcscheme
PhotoWeather.xcodeproj/xcuserdata/julia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
